@model IEnumerable<Project>

<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">

        <div class="col">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index" asp-controller="projectcategories">Proyektlər</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>Index</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Page-body start -->
<div class="page-body">


    <!-- Horizontal-border table start -->
    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-framed table-imaged">

                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Name
                            </th>
                            <th>
                                Project category
                            </th>
                            <th class="operations">
                                <a asp-action="Create" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pen-to-square"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="image-cell">
                                    @if (!string.IsNullOrWhiteSpace(item.ImagePath))
                                    {
                                        <img src="~/uploads/images/@item.ImagePath" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectCategory.Name)
                                </td>
                                <td class="operations">

                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>

                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <input hidden asp-for="@item.ProjectCategoryId" />

                                    <a class="btn btn-sm btn-danger" onclick="removeEntity(@item.Id, '@item.Name')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Horizontal-border table end -->
    @Html.AntiForgeryToken()
</div>
<!-- Page-body end -->
@section addcss{
<link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
}

@section addjs{
<script src="~/libs/sweetalert/sweetalert.min.js"></script>
<script src="~/libs/toastr.js/toastr.min.js"></script>
<script src="~/libs/toastr.js/toastr.customize.js"></script>
<script>
    function removeEntity(id, name){
        swal(`Əminsiniz ki, '${name}' silinsin?`, {
              title: "Diqqət!",
              text: `Əminsiniz ki, '${name}' silinsin?`,
              icon: "warning",
              buttons: true,
              dangerMode: true,
              buttons: ["Xeyr", "Bəli"]
        })
        .then((value) => {

            if(value == true){

                let vToken = $("[name=__RequestVerificationToken]").val();

                let formData = new FormData();

                formData.set("__RequestVerificationToken", vToken);
                formData.set("id", id);

                $.ajax({
                    url: `@Url.Action("Delete")`,
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        console.log(response);

                        if(response.error == true){
                            toastr.error(response.message, "Xeta!");
                            return;
                        }

                        location.reload();
                    },
                    error: function(errorResponse){
                        console.error(errorResponse);
                    }
                });
            }
        });
    }

    function publishDate(id, name) {
            swal(`${name} adlı məqaləni dərc etmək istəyirsiniz mi?`, {
                title: "Diqqet!",
                text: `${name} adlı məqaləni dərc etmək istəyirsiniz mi?`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["No", "Yes"]
            })
                .then((value) => {

                    if (value == true) {

                        let vToken = $('[name=__RequestVerificationToken]').val();

                        let formData = new FormData();
                        formData.set('__RequestVerificationToken', vToken);
                        formData.set('id', id);

                        $.ajax({
                            url: `@Url.Action("Publish")`,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                console.log(response)
                                if (response.error == true) {
                                    toaster.error(response.message, "Xeta");
                                    return;
                                }
                                location.reload();
                            },
                            error: function (errorResponse) {
                                console.error(errorResponse);
                            }
                        });
                    }


                });

        }
</script>
}